<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sro.socialbird">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/dove"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SocialBird">
        <activity
            android:name=".activity.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CommentActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChatActivity"
            android:exported="true" />
        <activity
            android:name=".activity.PostActivty"
            android:exported="true" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true" />
        <activity
            android:name=".activity.HomePage"
            android:exported="true" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true" />
    </application>

</manifest>